*{
  margin: 0;
  padding: 0;
  background-color: black;
}

.cover{
  /* margin-top: 5px; */
  max-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: aliceblue;
  background-color: black;
}
.heading{
  display: flex;
  align-items: start;
  justify-content: center;
  color: aliceblue;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 2em;
}
.cover img{
  border-radius: 25px;
  width: 99%;
  background-color: black;
}
.space{
  height: 500px;
  width:500px
}

.fl{
  display: flex;
  /* max-height: 450px; */
  width: 10%;
  align-items: center;
  justify-content:space-between;
  width: fit-content;
  color: aliceblue;
  background-color: black;
}

.fl p{
  margin-left: 60px;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}
.fl-2{
  margin-left: 214px;
  display: flex;
  /* max-height: 450px; */
  flex-direction: column;
  width: 10%;
  align-items:center;
  justify-content:space-between;
  width: fit-content;
  color: aliceblue;
  background-color: black;
}
.fl-2 p{
  margin-left: 60px;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}
.fl-3{
  margin-left: 45%;
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items:center;
  justify-content:center;
  /* width: fit-content; */
  color: aliceblue;
  background-color: black;
}

.fl-3 p{
  margin-left: 60px;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}
.fl-4{
  margin-left: 45%;
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items:center;
  justify-content:center;
  /* width: fit-content; */
  color: aliceblue;
  background-color: black;
}
.fl-4 img{
  height: 600px;
}
.fl-4 p{
  margin-left: 60px;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}
